---
import { getSecret } from "astro:env/server";
import { PUBLIC_KEY } from "astro:env/client";

console.log(PUBLIC_KEY);
console.log(getSecret("SECRET_KEY"));
---

<p>{PUBLIC_KEY}</p>
<p>{getSecret("SECRET_KEY")}</p>
